In [1]:
# Jupyter notebook to analyze datasets to be used for machine learning training of models, and model scoring

# import Pandas library to manipulate and analyze datasets
import pandas as pd
import numpy as np
import os

pd.set_option('display.max_columns',None)

In [2]:
# show a specific workspace environment variable: path
os.environ['PATH']

'/usr/local/bin:/root/.local/bin:/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/bin/remote-cli:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/bin/remote-cli:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

In [3]:
# show all Coder workspace environment variables
%env

{'HOSTNAME': '13291dcbc3dd',
 'PYTHON_PIP_VERSION': '23.0.1',
 'HOME': '/root',
 'GPG_KEY': '<hidden>',
 'PYTHON_GET_PIP_URL': 'https://github.com/pypa/get-pip/raw/dbf0c85f76fb6e1ab42aa672ffca6f0a675d9ee4/public/get-pip.py',
 'PATH': '/usr/local/bin:/root/.local/bin:/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/bin/remote-cli:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/bin/remote-cli:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin',
 'VSCODE_AGENT_FOLDER': '/root/.vscode-server',
 'LANG': 'C.UTF-8',
 'SHELL': '/bin/bash',
 'PYTHON_VERSION': '3.9.19',
 'PYTHON_SETUPTOOLS_VERSION': '58.1.0',
 'PWD': '/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9',
 'PYTHON_GET_PIP_SHA256': 'dfe9fd5c28dc98b5ac17979a953ea550cec37ae1b47a5116007395bfacff2ab9',
 'VSCODE_CWD': '/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9',
 'VSCODE_NLS_CONFIG': '{"userLocale":"en","osLocale":"en","resolvedLanguage":"en","defaultMessagesFile":"/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/out/nls.messages.json","locale":"en","availableLanguages":{}}',
 'VSCODE_HANDLES_SIGPIPE': 'true',
 'VSCODE_AMD_ENTRYPOINT': 'vs/workbench/api/node/extensionHostProcess',
 'VSCODE_HANDLES_UNCAUGHT_ERRORS': 'true',
 'REMOTE_CONTAINERS_IPC': '/tmp/vscode-remote-containers-ipc-3a1c07a6-63e4-4894-b679-7bd9b569f407.sock',
 'REMOTE_CONTAINERS_SOCKETS': '["/tmp/vscode-ssh-auth-3a1c07a6-63e4-4894-b679-7bd9b569f407.sock"]',
 'SHLVL': '1',
 '_': '/usr/bin/cat',
 'SSH_AUTH_SOCK': '/tmp/vscode-ssh-auth-3a1c07a6-63e4-4894-b679-7bd9b569f407.sock',
 'REMOTE_CONTAINERS': 'true',
 'BROWSER': '/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/bin/helpers/browser.sh',
 'ELECTRON_RUN_AS_NODE': '1',
 'VSCODE_IPC_HOOK_CLI': '/tmp/vscode-ipc-b8b2b8ba-1692-406d-8158-950f4ca4792f.sock',
 'VSCODE_L10N_BUNDLE_LOCATION': '',
 'PYDEVD_IPYTHON_COMPATIBLE_DEBUGGING': '1',
 'PYTHONUNBUFFERED': '1',
 'PYTHONIOENCODING': 'utf-8',
 'PYTHON_FROZEN_MODULES': 'on',
 'PYDEVD_USE_FRAME_EVAL': 'NO',
 'TERM': 'xterm-color',
 'CLICOLOR': '1',
 'FORCE_COLOR': '1',
 'CLICOLOR_FORCE': '1',
 'PAGER': 'cat',
 'GIT_PAGER': 'cat',
 'MPLBACKEND': 'module://matplotlib_inline.backend_inline'}

In [6]:
# load datasets

# portugal wine data https://archive.ics.uci.edu/dataset/186/wine+quality
df_red = pd.read_csv('./sets/winequality-red.csv',sep=";", encoding = "utf-8", low_memory=False,header=0)
df_white = pd.read_csv('./sets/winequality-white.csv',sep=";", encoding = "utf-8", low_memory=False,header=0)

In [7]:
# boston housing data

In [8]:
df_boston_housing.shape

(29998, 33)

In [9]:
df_boston_housing.head(5)

,PID,ST_NUM,ST_NAME,ST_NAME_SUF,ZIPCODE,Assessed_Value,Lot_Area,Gross_Area,Living_Area,Owner_Occupied,Year_Built,Number_of_Floors,Total_Number_of_Rooms,Number_of_Bedrooms,Number_of_Full_Baths,Number_of_Half_Baths,Number_of_Kitchens,Has_AC,Number_of_Fireplaces,Year_Since_Remodel_or_Build,Year_Remodeled,Structure_Type,Building_Style,Roof_Type,Exterior_Finish,Main_Bathroom_Style,Main_Kitchen_Style,Heating_type,Exterior_Condition,Overall_Condition,Interior_Condition,Interior_Finish,View
0,2001658000_,43,STRATFORD,ST,02132_,963300,20897,7396,3887,1,1910,2.0,13,4,1,1,1,1,1,3,2014,Residential,Colonial,Hip,Vinyl,Modern,Modern,Forced Air,Average,Average,Average,Normal,Average
1,2001659000_,47,STRATFORD,ST,02132_,915600,9856,6730,3566,1,1910,2.0,9,4,1,0,1,0,2,25,1992,Residential,Colonial,Hip,Wood Shake,Modern,Modern,Hot Water,Average,Average,Good,Normal,Average
2,2001660000_,53,STRATFORD,ST,02132_,911400,8415,6442,2843,1,1910,2.0,11,6,2,1,1,1,1,6,2011,Residential,Colonial,Gable,Wood Shake,Semi-Modern,Modern,Hot Water,Good,Good,Good,Normal,Average
3,2001661000_,57,STRATFORD,ST,02132_,862500,8333,6020,3558,1,1910,2.5,11,6,2,0,1,0,1,27,1990,Residential,Colonial,Hip,Wood Shake,Semi-Modern,Modern,Hot Water,Average,Average,Good,Normal,Average
4,2001662000_,61,STRATFORD,ST,02132_,789300,8232,5574,2978,1,1910,2.0,9,5,2,0,1,0,1,14,2003,Residential,Colonial,Gable,Wood Shake,Modern,Modern,Hot Water,Average,Average,Good,Normal,Average

In [ ]:
df_boston_housing['Has_AC'].value_counts()

In [ ]:
# customer churn data

In [10]:
df_churn_train.head(5)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [ ]:
# drop columns not relevant for training
df=df_churn_train.drop(['Area Code','Phone'],axis=1)

In [ ]:
# create a random train test ( 20 percent ) split
msk = np.random.rand(len(df)) < 0.20
train = df[~msk]
test = df[msk]

In [ ]:
train.shape

In [ ]:
test.shape

In [ ]:
# merge datasets
df_both = pd.concat([train,test])

In [ ]:
# num of rows
df_both.shape

In [ ]:
# write dataframe to csv
df_both.to_csv('./sets/customer_churn.csv',index=False,sep=',')