In [1]:
# Jupyter notebook to analyze datasets to be used for machine learning training of models, and model scoring

# import Pandas library to manipulate and analyze datasets
import pandas as pd
import numpy as np
import os

pd.set_option('display.max_columns',None)

In [2]:
# show a specific workspace environment variable: path
os.environ['PATH']

'/usr/local/bin:/root/.local/bin:/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/bin/remote-cli:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/bin/remote-cli:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

In [3]:
# show all Coder workspace environment variables
%env

{'HOSTNAME': '13291dcbc3dd',
 'PYTHON_PIP_VERSION': '23.0.1',
 'HOME': '/root',
 'GPG_KEY': '<hidden>',
 'PYTHON_GET_PIP_URL': 'https://github.com/pypa/get-pip/raw/dbf0c85f76fb6e1ab42aa672ffca6f0a675d9ee4/public/get-pip.py',
 'PATH': '/usr/local/bin:/root/.local/bin:/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/bin/remote-cli:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/bin/remote-cli:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin',
 'VSCODE_AGENT_FOLDER': '/root/.vscode-server',
 'LANG': 'C.UTF-8',
 'SHELL': '/bin/bash',
 'PYTHON_VERSION': '3.9.19',
 'PYTHON_SETUPTOOLS_VERSION': '58.1.0',
 'PWD': '/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9',
 'PYTHON_GET_PIP_SHA256': 'dfe9fd5c28dc98b5ac17979a953ea550cec37ae1b47a5116007395bfacff2ab9',
 'VSCODE_CWD': '/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9',
 'VSCODE_NLS_CONFIG': '{"userLocale":"en","osLocale":"en","resolvedLanguage":"en","defaultMessagesFile":"/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/out/nls.messages.json","locale":"en","availableLanguages":{}}',
 'VSCODE_HANDLES_SIGPIPE': 'true',
 'VSCODE_AMD_ENTRYPOINT': 'vs/workbench/api/node/extensionHostProcess',
 'VSCODE_HANDLES_UNCAUGHT_ERRORS': 'true',
 'REMOTE_CONTAINERS_IPC': '/tmp/vscode-remote-containers-ipc-3a1c07a6-63e4-4894-b679-7bd9b569f407.sock',
 'REMOTE_CONTAINERS_SOCKETS': '["/tmp/vscode-ssh-auth-3a1c07a6-63e4-4894-b679-7bd9b569f407.sock"]',
 'SHLVL': '1',
 '_': '/usr/bin/cat',
 'SSH_AUTH_SOCK': '/tmp/vscode-ssh-auth-3a1c07a6-63e4-4894-b679-7bd9b569f407.sock',
 'REMOTE_CONTAINERS': 'true',
 'BROWSER': '/vscode/vscode-server/bin/linux-arm64/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/bin/helpers/browser.sh',
 'ELECTRON_RUN_AS_NODE': '1',
 'VSCODE_IPC_HOOK_CLI': '/tmp/vscode-ipc-b8b2b8ba-1692-406d-8158-950f4ca4792f.sock',
 'VSCODE_L10N_BUNDLE_LOCATION': '',
 'PYDEVD_IPYTHON_COMPATIBLE_DEBUGGING': '1',
 'PYTHONUNBUFFERED': '1',
 'PYTHONIOENCODING': 'utf-8',
 'PYTHON_FROZEN_MODULES': 'on',
 'PYDEVD_USE_FRAME_EVAL': 'NO',
 'TERM': 'xterm-color',
 'CLICOLOR': '1',
 'FORCE_COLOR': '1',
 'CLICOLOR_FORCE': '1',
 'PAGER': 'cat',
 'GIT_PAGER': 'cat',
 'MPLBACKEND': 'module://matplotlib_inline.backend_inline'}

In [4]:
# load datasets

# portugal wine data https://archive.ics.uci.edu/dataset/186/wine+quality
df_red = pd.read_csv('./sets/winequality-red.csv',sep=";", encoding = "utf-8", low_memory=False,header=0)
df_white = pd.read_csv('./sets/winequality-white.csv',sep=";", encoding = "utf-8", low_memory=False,header=0)

In [5]:
df_red.shape

(1599, 12)

In [6]:
df_white.shape

(4898, 12)

In [7]:
df_red.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [8]:
df_white.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [9]:
df_red['quality'].value_counts()

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [10]:
df_white['quality'].value_counts()

quality
6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: count, dtype: int64

In [ ]:
# drop columns not relevant for training
df.drop([''],axis=1)

In [11]:
# create a random train test (20 percent) split
msk = np.random.rand(len(df_red)) < 0.20
train = df_red[~msk]
test = df_red[msk]

In [12]:
train.shape

(1275, 12)

In [13]:
test.shape

(324, 12)

In [14]:
# merge datasets
df_both = pd.concat([train,test])

In [15]:
# num of rows
df_both.shape

(1599, 12)

In [17]:
# write dataframe to csv
train.to_csv('./sets/train_wine_quality_red.csv',index=False,sep=',')
test.to_csv('./sets/test_wine_quality_red.csv',index=False,sep=',')

In [19]:
msk = np.random.rand(len(df_white)) < 0.20
train = df_white[~msk]
test = df_white[msk]

In [20]:
# write dataframe to csv
train.to_csv('./sets/train_wine_quality_white.csv',index=False,sep=',')
test.to_csv('./sets/test_wine_quality_white.csv',index=False,sep=',')